<section class="section pb-0 section-components">
    <div class="container mb-5">
        <!-- Inputs -->
        <h3 class="h4 text-success font-weight-bold mb-4">OCE</h3>

        <div class="row">
          <div class="col">
    
            <span>OCE est un éxécuteur de code à distance. Les différents langages disponibles sont Python3, Java, C++, C, Rust. <br>Il utilise fastAPI, une API en Flask, plusieurs VM ainsi qu'un LoadBalancer côté BackEnd .
                 Pour ce qui est du FrontEnd, il y a deux interfaces : un Bot Discord et un site web fait en Angular.</span>
          </div>

  
        </div>
      </div>
    <div class="py-5 bg-secondary">
        <div class="container mb-5">
            <!-- Inputs -->
            <h3 class="h4 text-success font-weight-bold mb-4">Mode d'emploi</h3>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <small class="text-uppercase font-weight-bold">Règles à respecter côté Front</small>
                  
                </div>
                <div class="col">
                  <small class="text-uppercase font-weight-bold">Règles à respecter côté Back</small>
                  
                </div>
      
              </div>
             
            </div>
            <div class="row">
              <div class="col">
        
                <span>Plusieurs fichiers peuvent être envoyés à compiler, attention de bien choisir le langage de compilation souhaité.<br>
                Pour renommer un fichier, il suffit de double cliquer sur le fichier souhaité.<br>
                Cliquer sur un fichier pour modifier son contenu. En cliquant sur l'icône de poubelle, vous supprimerez ce fichier.<br>
                Dans le cas où il n'y a plus de fichiers, un fichier Untilted.txt est créé.<br>
                Lors de l'éxécution des fichiers, vous retrouverez une pop-up qui synthétisera l'état de la compilation. Et dans les deux blocs en dessous, soit le résultat de la compilation ou les erreurs présentes dans le code du ou des fichiers.</span>
              </div>
              <div class="col">
                <span>Hac ita persuasione reducti intra moenia bellatores obseratis undique portarum aditibus, propugnaculis insistebant et pinnis, congesta undique saxa telaque habentes in promptu, ut si quis se proripuisset interius, multitudine missilium sterneretur et lapidum.
        
                  Quaestione igitur per multiplices dilatata fortunas cum ambigerentur quaedam, non nulla levius actitata constaret, post multorum clades Apollinares ambo pater et filius in exilium acti cum ad locum Crateras nomine pervenissent, villam scilicet suam quae ab Antiochia vicensimo et quarto disiungitur lapide, ut mandatum est, fractis cruribus occiduntur.
                  
                  Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum dimicationum curulium eventu pendentem. haec similiaque memorabile nihil vel serium agi Romae permittunt. ergo redeundum ad textum.</span>
              </div>
      
            </div>
          </div>
    </div>
  </section>
  