<section class="section pb-0 section-components">
    <div class="container mb-5">
        <!-- Inputs -->
        <h3 class="h4 text-success font-weight-bold mb-4">OCE</h3>

        <div class="row">
          <div class="col">
    
            <span>OCE est un éxécuteur de code à distance. Les différents langages disponibles sont Python3, Java, C++, C, Rust. <br>Il utilise fastAPI, une API en Flask, plusieurs VM ainsi qu'un LoadBalancer côté BackEnd .
                 Pour ce qui est du FrontEnd, il y a deux interfaces : un Bot Discord et un site web fait en Angular.</span>
          </div>

  
        </div>
      </div>
    <div class="py-5 bg-secondary">
        <div class="container mb-5">
            <!-- Inputs -->
            <h3 class="h4 text-success font-weight-bold mb-4">Mode d'emploi</h3>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <small class="text-uppercase font-weight-bold">Règles à respecter côté Front</small>
                  
                </div>
                <div class="col">
                  <small class="text-uppercase font-weight-bold">Règles à respecter côté Back</small>
                  
                </div>
      
              </div>
             
            </div>
            <div class="row">
              <div class="col">
        
                <span>Plusieurs fichiers peuvent être envoyés à compiler, attention de bien choisir le langage de compilation souhaité.<br>
                Pour renommer un fichier, il suffit de double cliquer sur le fichier souhaité.<br>
                Cliquer sur un fichier pour modifier son contenu. En cliquant sur l'icône de poubelle, vous supprimerez ce fichier.<br>
                Dans le cas où il n'y a plus de fichiers, un fichier Untilted.txt est créé.<br>
                Lors de l'éxécution des fichiers, vous retrouverez une pop-up qui synthétisera l'état de la compilation. Et dans les deux blocs en dessous, soit le résultat de la compilation ou les erreurs présentes dans le code du ou des fichiers.</span>
              </div>
              <div class="col">
                <span>OCE copie tous les fichiers envoyé au même niveau, vous ne pouvez pas créer d'arborescence. L'évaluation de votre code se fait dans un conteneur en deux phase : la compilation et l’exécution.<br>
                     Dans le cas de langages interprété, la compilation n'a aucun effet. Pour les autres langages, la compilation affecte tous les fichiers sources. OCE considère tous les fichiers avec l'extension attendue du langage en minuscule (i.e. ".cpp", ".java", ".rs") comme des fichiers sources.<br>
                    OCE attend un seul et unique entrypoint. Pour les langages où le point d'entré n'est pas défini à la compilation (python, java) OCE tente de le définir de la façon suivante : si un unique fichier source est trouvé, il est considéré comme le point d'entré, si plusieurs sources sont trouvés, OCE attend un fichier nommé "main" (suivi de l'extension du langage).<br>
                    Le conteneur qui vous est alloué est restreint en RAM, CPU et PID. Une limite de temps de 10 secondes est également appliquée pour chaque phase. Si la compilation ou l’exécution dépasse ce délai, votre requête sera rejeté.</span>
              </div>
      
            </div>
          </div>
    </div>
  </section>
  